body {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  font-style: italic;
}

.Hp {
  display: flex;
  justify-content: space-evenly;
}

span {
  color: rgb(255, 255, 255);
}

.Hermione {
  width: 250px;
}

.Hermione:hover {
  transform: scale(1.1);
}

.Ginny {
  width: 250px;
}

.Ginny:hover {
  transform: scale(1.1);
}

.Harry {
  width: 250px;
}

.Harry:hover {
  transform: scale(1.1);
}

.Hagrid {
  width: 250px;
}

.Hagrid:hover {
  transform: scale(1.1);
}

.Voldemorts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Voldemorts:hover {
  transform: scale(1.1);
}

.bouncy {
  animation: bouncy 3s infinite;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }

  40% {
    top: 0em;
  }

  43% {
    top: -0.9em;
  }

  46% {
    top: 0em;
  }

  48% {
    top: -0.4em;
  }

  50% {
    top: 0em;
  }

  100% {
    top: 0em;
  }
}

.Music {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.Music button {
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
}

.Music button:hover {
  color: white;
  border: 2px solid black;
  transform: scale(1.1)
}